---
import '../styles/global.css';

const pageTitle = "ChristianHub";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
	<!--Adding this here until I learn how to add
	header islands in Astro -->
	<nav>
		<a href="/">Home</a>
		<a href="/about/">About</a>
    <a href="/blog/">Blog</a>
	</nav>
	
    <h1>{pageTitle}</h1>
	<p>Adding fake content to see how it displays</p>
  </body>
</html>